@charset "UTF-8";
/*미디어쿼리:미디어의 가로크기가 768px 이상이면 아래 스타일적용*/
@media all and (min-width:768px) {
	
/*헤더영역시작*/
.menu-toggle-btn {display:none;}
.header .gnb {
display:block;
position:static;/*absolute에서 static*/
background:none;
width:auto;
float:right;/*가로위치를 오른쪽으로 변경*/
margin-top:10px;
}
.header .gnb li {
float:left;
border:none;
width:95px;
}
.header .gnb li:last-child {border-bottom:none;}
.header .gnb li a {
display:inline-block;/*콘텐츠 내용 크기만큼만 자리를 차지하는 영역*/
color:#3f51b5;
}
.header .gnb li a:hover {text-decoration:none;}
/*슬라이드 영역 끝*/

/*we are 영역시작*/
.float-clear {clear:both;}/*clear both 속성은 float 작동을 없애는 역할*/
.footer {padding-bottom:30px;}
.weare-body li {
float:left;/*세로정렬을 가로정렬로 변경 브트스트랩의 그리드시스템 col-12(100%), col-3,col-3,col-3,col-3*/
width:23.046875%;/*(177포토샵레이아웃값 / 768)x100=몇%*/
margin-left:2.604166%;/*(20포토샵레이아웃값/768)ㅌ100=몇%*/
overflow:hidden;/*반응형list 박스에서 가로크기를 벗어나는 이미지 내용은 숨김처리 */
}
.weare-body li img{width:100%;height:auto}
.weare-body {margin:10px 3%;}/*가운데 정렬, 상하10px, 3%좌우여백*/
.weare-body li:first-child {
margin-left:0px;
}
/*we are 영역 끝*/
.work-section li {
float:left;/*세로배치를 가로배치로 변경*/
width:50%;
}
/*태블릿용 스타일 끝*/
}